@page "/editemployee/{id}"
@rendermode InteractiveServer
@inherits EditEmployeeBase

<EditForm Model="@EditEmployeeModel">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<h3>EditEmployee</h3>
	<hr />
	<div class="form-group row">
		<label for="firstName" class="col-sm-2 col-form-label">
			First Name :
			</label>
			<div class="col-sm-10">
				<InputText id="firstName" class="form-control"
					   placeholder="First Name" @bind-Value="EditEmployeeModel.FirstName"></InputText>
			<ValidationMessage For="@(() => EditEmployeeModel.FirstName)" />
			</div>
	</div>
	<div class="form-group row">
		<label for="lastName" class="col-sm-2 col-form-label">
			Last Name :
		</label>
		<div class="col-sm-10">
			<InputText id="lastName" class="form-control"
					   placeholder="Last Name" @bind-Value="EditEmployeeModel.LastName"></InputText>
					   <ValidationMessage For="@(()=> EditEmployeeModel.LastName)" />
		</div>
	</div>
	<div class="form-group row">
		<label for="email" class="col-sm-2 col-form-label">
			Email :
		</label>
		<div class="col-sm-10">
			<InputText id="email" class="form-control"
					   placeholder="Email" @bind-Value="EditEmployeeModel.Email"></InputText>
			<ValidationMessage For="@(() => EditEmployeeModel.Email)" />
		</div>
	</div>
	<div class="form-group row">
		<label for="confirmationemail" class="col-sm-2 col-form-label">
			Confirm Email :
		</label>
		<div class="col-sm-10">
			<InputText id="confirmationemail" class="form-control"
					   placeholder="Confirm Email" @bind-Value="EditEmployeeModel.ConfirmEmail"></InputText>
			<ValidationMessage For="@(() => EditEmployeeModel.ConfirmEmail)" />
		</div>
	</div>
	<div class="form-group row">
		<label for="department" class="col-sm-2 col-form-label">
			Department :
		</label>
		<div class="col-sm-10">
			<InputSelect id="department" class="form-control" @bind-Value="DepartmentId">
				
				@foreach (var department in Departments)
				{
					<option value="@department.DepartmentId">@department.DepartmentName</option>
				}
			</InputSelect>
		</div>
	</div>
	<div class="form-group row">
		<label for="gender" class="col-sm-2 col-form-label">
			Gender :
		</label>
		<div class="col-sm-10">
			<InputSelect id="gender" class="form-control" @bind-Value="EditEmployeeModel.Gender">
				@foreach (var gender in Enum.GetValues(typeof(Gender)))
				{
					<option value="@gender">@gender</option>
				}
			</InputSelect>
		</div>
	</div>
	<div class="form-group row">
		<label for="datepicker" class="col-sm-2 col-form-label">
			Date of Birth :
		</label>
		<div class="col-sm-10">
			<InputDate id="datepicker" class="form-control" @bind-Value="EditEmployeeModel.DateOfBirth">
			</InputDate>
		</div>
	</div>
	<button class="btm btn-primary" type="submit">Submit</button>
</EditForm>


