@page "/employeedetails/{Id}"
@inherits EmployeeDetailsBase

@if (Employee == null)
{
	<p><em>Loading...</em></p>
	<div class="spinner"></div>
}
else
{
	<div class="row justify-content-center m-3" @onmousemove="Mouse_Move">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header">
					<h1>@Employee.FirstName @Employee.LastName</h1>
					<p class="small text-muted">Pointer: @Coordinates</p>

				</div>
				<div class="card-body text-center">
					<img class="card-img-top" style="height:200px; width:auto;" src="@Employee.PhotoPath" />

					<h4>Employee ID : @Employee.EmployeeId</h4>
					<h4>Email : @Employee.Email</h4>
					<h4>Department : @(Employee.Department == null ? "NA" : Employee.Department.DepartmentName)</h4>
					<button type="button" class="btn btn-primary" @onclick="Toggle">
						@ButtonText
					</button>

				</div>
				@if (isVisible)
				{
					<div class="card-footer text-center" style="visibility:@(isVisible ? "visible" : "hidden")">
						<a href="/" class="btn btn-primary m-1">Back</a>
						<a href="#" class="btn btn-primary m-1">Edit</a>
						<a href="#" class="btn btn-danger m-1">Delete</a>
					</div>
				}

				
			</div>

		</div>
	</div>
}

@code{
	bool isVisible = true;
	string ButtonText = "Hide Footer";

	void Toggle()
	{
		Console.WriteLine("CLICK WORKED");
		isVisible = !isVisible;
		ButtonText = isVisible ? "Hide Footer" : "Show Footer";
	}
}